---
import Layout from "../../layouts/Layout.astro";
import CentralMenuCard from "../../components/CentralMenuCard.astro";
import { allPlaylists, songs } from "../../lib/data";
import NavigationLeft from "@/icons/NavigationLeft.astro";
import ButtonNav from "../../components/ButtonNav.astro";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId
);
const artistString = playlist?.artists.join(", ");
---

<Layout title="Clon de SPOTIFY">
  <div
    style={`background: rgb(50, 49, 72);
    background: linear-gradient(180deg, rgba(50, 49, 72, 0.8583035509125525) 0%, ${playlist?.color?.accent} 68%);`}
    class="">
    <div class="flex flex-row z-10 p-4 gap-4 rounded-lg">
      <ButtonNav href="/">
        <NavigationLeft />
      </ButtonNav>
    </div>
    <div
      id="playlist-container"
      class="relative flex flex-row h-full gap-5 overflow-x-hidden bg-zinc-80 p-5"
      transition:name=`playlist ${id} box`>
      <header class="flex flex-col">
        <picture class="aspect-square w-52 h-52 flex-none">
          <img
            src={playlist?.cover}
            alt={`Cover of ${playlist?.title}`}
            class="object-cover w-full h-full rounded-md"
            transition:name=`playlist ${playlist?.id} image`
          />
        </picture>
      </header>

      <div
        class="flex flex-col px-5 justify-center text-z-10 h-52 gap-4 rounded-lg"
        transition:name=`playlist ${playlist?.title} title`>
        <h3 class="px-2">Playlist</h3>
        <h2
          class="text-white text-7xl font-bold hover:text-white-400 items-center">
          {playlist?.title}
        </h2>
        <h3 class="px-2">
          {artistString}
        </h3>
        <h3 class="px-2">
          About {
            playlistSongs.reduce(
              (totalDuration, song) =>
                totalDuration + parseInt(song.duration, 10),
              0
            )
          } minutes
        </h3>
      </div>
    </div>
  </div>
  <div class="h-full">
    <main
      style={`background: rgb(50, 49, 72);
      background: linear-gradient(180deg, rgba(100, 100,0 , 1) 10%, ${playlist?.color?.accent} 100%);`}
      
      class="text-white font-light text-lg gap-5 p-10 flex flex-col h-full">
      <div class="table p-20">
        <div class="table-row gap-0 border-b h-10 border-gray-400">
          <div class="table-cell">ID</div>
          <div class="table-cell">Título</div>
          <div class="table-cell">Álbum</div>
          <div class="table-cell">Artistas</div>
          <div class="table-cell">Duración</div>
        </div>
        {
          playlistSongs.map((song) => (
            <div class="table-row hover:bg-gray-500/20 gap-10 h-full  duration-100 transition-all">
              <div class="table-cell  flex-row">{song.id}</div>
              <picture class="aspect-square h-12 w-full gap-2 flex flex-row items-end hover:underline hover:cursor-pointer">
                <img
                  src={playlist?.cover}
                  alt={`Cover of ${playlist?.title}`}
                  class="object-cover w-10 h-10 rounded-md"
                />
                {song.title}
              </picture>

              <div class="table-cell hover:underline hover:cursor-pointer h-50">
                {song.album}
              </div>
              <div class="table-cell hover:underline hover:cursor-pointer">
                {song.artists}
              </div>
              <div class="table-cell">{song.duration}</div>
            </div>
          ))
        }
      </div>
    </main>
  </div>
</Layout>
<style></style>
